.home {
  background-image: linear-gradient(
    to left top,
    #8a67ae,
    #7b78bf,
    #6b87cb,
    #5c96d2,
    #52a3d6
  );
  width: 100%;
  min-height: 100vh;
}
.contacts__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
