@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Moderustic:wght@300..800&display=swap");
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
  letter-spacing: -0.7px;
}
